/* cssfile */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20;
    padding: 20;
    background-color: #aecbf1;
    text-decoration-color: hsl(0, 17%, 93%);
}

header {
    background-color: #3b237e;
    color:white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(164, 162, 250, 0.1);
    padding: 0px;
    display: flex;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #e7d9d9;
    text-decoration: none;
    font-weight: none;
    text-align: center;
}

.search-section {
    text-align: center;
    margin-top: 60px;
}

#search-input {
    padding: 12px 20px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
    font-size: 16px;
    outline: none;
}

#search-input::placeholder {
    color: #999;
}

#search-input:focus {
    border: 1px solid #062361;
}

button {
    padding: 12px 20px;
    background-color: #1f0d6e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #639eeb;
}